.socialNetworks {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 40rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.socialNetworks div {
  width: 36px;
  height: 36px;
}

.socialNetworks div img {
  width: 100%;
  height: 100%;
  -webkit-filter: invert(1) contrast(0.6);
  filter: invert(1) contrast(0.6);
}

@media screen and (max-width: 980px) {
  .socialNetworks {
    width: 100%;
    padding: 20rem 5%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .socialNetworks {
    padding: 5rem 5%;
  }
}
