.contact_form {
  padding-right: 2rem;
}

.form_fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 685px;
  min-width: 320px;
}

.row_fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2.4rem;
}

.form_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form_field textarea {
  margin-top: 2.4rem;
}

.form_field textarea,
.form_input {
  border: none;
  border-bottom: 1px solid #fff;
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  color: #fff;
  background-color: transparent;
  font-weight: 400;
  resize: none;
  outline: none;
  line-height: 120%;
}

.form_input {
  padding: 2rem;
  font-size: 1.6rem;
  width: 100%;
}

.btn_send button {
  width: 138px;
  height: 50px;
  margin-top: 9rem;
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #fff;
  color: #000;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
  cursor: pointer;
}

.btn_send button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.form_success,
.form_error {
  padding-top: 2.6rem;
  font-size: 1.5rem;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .contact_form {
    padding-right: 2rem;
    width: 100%;
  }

  .row_fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form_fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    min-width: auto;
  }

  .form_field {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .btn_send button {
    width: 120px;
    height: 42px;
  }
}
