.solutionItem {
  width: 472px;
  height: 335px;
  background: rgba(255, 255, 255, 0.02);
  border: 0.5px solid rgba(135, 135, 135, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.textContainer {
  max-width: 300px;
  text-align: left;
}

.solutionItem h4 {
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.solutionItem p {
  color: #606567;
  line-height: 160%;
}

@media screen and (max-width: 980px) {
  .solutionItem {
    width: 422px;
    height: 375px;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .solutionItem {
    width: 100%;
    height: 324px;
  }
}
