.contact {
  position: relative;
  width: 100vw;
  background-color: #111111;
  padding: 6rem 5%;
  border-top: 0.5px solid rgba(130, 130, 130, 0.1);
  border-bottom: 0.5px solid rgba(130, 130, 130, 0.1);
}

.container {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}

.company_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: clamp(120px, 25vw, 160px);
  height: auto;
  align-self: flex-start;
}

.logo img {
  width: 100%;
  height: auto;
}

.contact_info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.social_media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_icon:nth-child(1) {
  width: clamp(36px, 4.2vw, 42px);
  height: clamp(36px, 4.2vw, 42px);
  margin-right: 2.4rem;
}

.social_icon:nth-child(2) {
  width: clamp(32px, 4.2vw, 38px);
  height: clamp(32px, 4.2vw, 38px);
}

.social_icon img {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

.form_title {
  font-size: clamp(3.2rem, 4.6vw, 4.6rem);
  margin-bottom: 7rem;
  font-weight: 500;
}

.form_title span {
  color: var(--extra-color);
}

.contact_form {
  margin: 9rem 0;
}

@media screen and (max-width: 1023px) {
  .container {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .company_info {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
  }

  .logo {
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .company_info {
    margin-top: auto;
  }
}
