.whyUs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 20rem 5%;
  gap: 20rem;
}

.rightColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 0;
}

.whyUsIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 0;
}

.whyUsIntro p {
  line-height: 160%;
  text-align: right;
  font-weight: 400;
}

.advantagesList {
  max-width: 735px;
  margin-top: 10rem;
}

.advantagesList h4 {
  margin-bottom: 4rem;
  font-size: 1.6rem;
}

.advantageItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 3.2rem;
}

.advantageItem p {
  font-weight: 300;
}

.advantageIcon {
  max-width: 26px;
  max-height: 26px;
  margin-right: 3.2rem;
}

.advantageIcon img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0.8) contrast(0.5) hue-rotate(300deg);
  filter: brightness(0.8) contrast(0.5) hue-rotate(300deg);
}

/* decoration */

.crosshair,
.circles,
.decoWord,
.circleDashed {
  position: absolute;
  opacity: 0.02;
  color: #fff;
}

p.decoWord {
  font-size: 300px;
  left: -200px;
  top: -120%;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--font-poppins);
}

.crosshair {
  opacity: 0.5;
  left: 120%;
}

.circleDashed {
  opacity: 1;
  top: -25%;
  left: -120%;
}

@media screen and (max-width: 1600px) {
  .whyUs {
    gap: 10rem;
  }
}

@media screen and (max-width: 1440px) {
  p.decoWord {
    font-size: 250px;
    left: -250px;
    top: -80%;
  }

  .crosshair {
    left: 100%;
  }

  .circleDashed {
    top: -30%;
    left: -40%;
  }
}

@media screen and (max-width: 1080px) {
  .whyUs {
    gap: 5rem;
  }
}

@media screen and (max-width: 980px) {
  .whyUs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 10rem 5%;
    gap: 0;
  }

  p.decoWord {
    font-size: 160px;
    left: 0px;
    top: -60%;
  }

  .crosshair {
    left: 100%;
    top: 20%;
  }

  .circleDashed {
    top: -100%;
    left: 10%;
  }
}

@media screen and (max-width: 767px) {
  .solutions {
    padding: 20rem 5%;
  }

  .solutionsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .rightColumn {
    width: 100%;
  }

  .whyUsIntro {
    width: 100%;
  }

  .whyUsIntro p,
  .whyUsIntro h2 {
    width: 100%;
    word-wrap: break-word;
  }

  p.decoWord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 160px;
    left: 50%;
    top: -5%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .crosshair {
    left: 80%;
    top: 25%;
  }

  .circleDashed {
    top: -25%;
    left: 10%;
    scale: 0.8;
  }
}

@media screen and (max-width: 520px) {
  p.decoWord {
    font-size: 100px;
    left: 50%;
    top: -5%;
  }
}
