.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #111111;
  padding: 2rem 5%;
}

.footerContainer {
  width: 100%;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footerLink {
  cursor: pointer;
}

.footerLink p {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}

.footerText,
.footerList li {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  white-space: none;
}

.footerList li {
  white-space: none;
  color: #fff;
}

/* made by */

.rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.madeBy a {
  color: #fff;
  font-size: 1.4rem;
}

.madeBy .weight {
  font-weight: bold;
}

.madeBy .color {
  color: #38a435;
  font-size: 3rem;
  line-height: 0;
}

@media screen and (min-width: 1079px) {
  .footerContainer {
    min-height: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footerText,
  .footerList a {
    font-size: 1.5rem;
  }

  .rights {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
  }

  .madeBy {
    margin-left: auto;
    margin-right: auto;
  }

  .footerList {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footerList li {
    margin-right: 3.6rem;
  }

  .footerList li:last-child {
    margin-right: 0;
  }
}

/* Richtlinien */

.modalOverlay {
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000009f;
}

.modalContent {
  padding-top: 60px;
  padding-left: 24px;
  padding-right: 24px;
  color: #111111;
  width: 70%;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  overflow: auto;
}
