.wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  clear: both;
  font-size: 0;
}

.wrapper img {
  width: clamp(200px, 16vw, 360px);
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 1.5rem;
  -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
}

.wrapper img:nth-child(even) {
  -webkit-filter: saturate(0) contrast(1.1);
  filter: saturate(0) contrast(1.1);
  margin-top: -1%;
}

.wrapper img:nth-child(odd) {
  -webkit-filter: saturate(0.6) contrast(1.1);
  filter: saturate(0.6) contrast(1.1);
}

.wrapper img:last-child {
  margin-right: 0;
  line-height: 0;
}

@media screen and (max-width: 980px) {
  .wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .wrapper img {
    width: clamp(252px, 36vw, 360px);
    height: clamp(378px, 54vw, 540px);
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
    margin-right: 0;
    -webkit-filter: none;
    filter: none;
  }

  .wrapper img:nth-child(even) {
    margin-top: 0%;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
    height: 100%;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .wrapper img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 980px) {
  .hiddenOnMobile {
    display: none;
  }
}
